
/*base*/
.fl{float: left;}
.fr{float: right;}
body{font: 12px/1.5 PingFangSC-Regular,Tahoma,'Microsoft Yahei',sans-serif;}
.padding0{
  padding:0;
}
.pb50{
  padding:0 0  50px 0;
}
p{font-size: 14px}
a{color: #FFFFFF}
a:link{color: #FFFFFF}
a:visited{color: #FFFFFF}
a:hover{color: #fabe00}
a:active{color: #FFFFFF}

.header_box{height: 80px; line-height: 80px; border-bottom: 1px solid gray;background-color: #221814; color: #FFFFFF;}
.header,
.policy{max-width: 1200px; margin: 0 auto; position: relative; height: 100%;}
.header h1{display: inline-block; padding-left: 30px; color: #fabe00; position: absolute; top: 0px; left: 80px; font-size: 17px;}
.header .logo-image{ display: inline-block; width: 70px; height: 70px; margin-top: 5px;}

.header .nav{font-size: 14px; text-align: center; display: inline-block;}
.header .nav a{display: inline-block; padding: 0 30px;}
.app-header{display: none;}
.app-header-menuicon{display: inline-block; position: absolute; top: 2px; width: 80px; height: 80px; cursor: pointer; text-align: center;}

.content{max-width: 100%; margin: 0 auto;}
.content .title{padding: 20px 0; text-align: center;  background-color: #221814; color: #FFFFFF;}
.image-beian{vertical-align: bottom;}

.content h1{font-size: 48px;}
.content .layui-row{padding:50px 0; max-width: 1200px; margin:0 auto;}
.img-txt {margin: 0 20px;}
.img-txt h3{margin-top: 10px;}
.img-txt .qr-wrap{width: 200px; height: 200px; margin: 0 auto; margin-top: 100px;}
.qr-wrap .img-qr{width: 100%; height: 100%;}
.img-txt .img-ywt{width: 100%; height: 500px;}
