
/*base*/
.fl{float: left;}
.fr{float: right;}
body{font: 12px/1.5 PingFangSC-Regular,Tahoma,'Microsoft Yahei',sans-serif;}
.padding0{
  padding:0;
}
.pb50{
  padding:0 0  50px 0;
}

.header_box{height: 80px; line-height: 80px; border-bottom: 1px solid gray;}
.header{max-width: 1200px; margin: 0 auto; position: relative; height: 100%;}
.header h1{display: inline-block; padding-left: 35px; width: 60px;}
.header .nav{font-size: 14px; text-align: center; display: inline-block;}
.header .nav a{color: #000000; display: inline-block; padding: 0 30px;}
.header .nav a.active{color: #009E94;}
.header-down-nav{display: none;}
.app-header{display: none;}
.app-header-menuicon{display: inline-block; position: absolute; top: 2px; width: 80px; height: 80px; cursor: pointer; text-align: center;}
